<link rel="stylesheet" href="./css/home.css" />
<div class="container mt-5">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>oops!</strong> How did you end up here!!.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div>
    <h1 style="color: white">
      <span class="red_error">404 Error !</span> Page not found
    </h1>
    <img src="./images/404_error.jpg" alt="404 Error" />
    <h4 style="color: white">
      How Did you end up here. Go back to
      <a style="text-decoration: none; color: yellow" href="/">main page</a>
      start over again!!
    </h4>
  </div>
</div>
