<link rel="stylesheet" href="./css/home.css" />
<div class="container">
  <div class="homebox">
    <div class="left">
      <h1 class="main-heading">A comprehensive platform for reliable</h1>
      <h2 class="sub-heading">
        <span class="changeword"></span>job opportunities
      </h2>
      <h4 class="last-heading">Get Discovered. Get Hired.</h4>
      <span class="btn-array">
        <button class="herobtn">I'm A Job Seeker</button
        ><button
          class="herobtn"
          data-bs-toggle="modal"
          data-bs-target="#registerFrom"
        >
          I'm A recruiter
        </button>
      </span>
    </div>
    <div class="right">
      <img
        src="https://easily-deploy.onrender.com/images/banner.png"
        alt="hero-img"
      />
    </div>
  </div>
  <div
    class="modal fade"
    id="registerFrom"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Experience easily!
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Register form  -->
          <form action="/register" method="post">
            <div class="input-group flex-nowrap mt-2">
              <span class="input-group-text" id="addon-wrapping">Name</span>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Enter your name"
                aria-describedby="addon-wrapping"
              />
            </div>
            <div class="input-group flex-nowrap mt-2">
              <span class="input-group-text" id="addon-wrapping">Email</span>
              <input
                type="text"
                name="email"
                class="form-control"
                placeholder="Enter your Email"
                aria-describedby="addon-wrapping"
              />
            </div>
            <div class="input-group flex-nowrap mt-2">
              <span class="input-group-text" id="addon-wrapping">Password</span>
              <input
                type="text"
                name="Password"
                class="form-control"
                placeholder="Enter Password"
                aria-describedby="addon-wrapping"
              />
            </div>
            <button type="submit" class="btn btn-outline-success mt-3">
              Submit
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <!-- add footer -->
          <div class="box-footer">
            <div>
              <p>
                Already Registed?
                <span
                  ><button
                    class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    data-bs-target="#loginModal"
                  >
                    Login
                  </button></span
                >
              </p>
            </div>
            <div>
              <ul class="social-media-list">
                <li class="social-media-list-item">
                  <i class="ri-linkedin-box-fill"></i>
                </li>
                <li class="social-media-list-item">
                  <i class="ri-twitter-fill"></i>
                </li>
                <li class="social-media-list-item">
                  <i class="ri-google-fill"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- login form  -->
            <form action="/login" method="post">
              <div class="input-group flex-nowrap mt-2">
                <span class="input-group-text" id="addon-wrapping">Email</span>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Your Email"
                  name="email"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div class="input-group flex-nowrap mt-2">
                <span class="input-group-text" id="addon-wrapping"
                  >Password</span
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Password"
                  name="password"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <button type="submit" class="btn btn-outline-success mt-4">
                Submit
              </button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var typingEffect = new Typed(".changeword", {
    strings: ["job opportunities", "internships opportunities"],
    loop: true,
    typeSpeed: 100,
    backSpeed: 50,
    backDelay: 1000,
  });
</script>
